#index {
    background-image: url('../img/kanto-map.jpeg');
    margin: auto;
    font-family: 'Press Start 2P', cursive;
}
#pokedex {
    margin-left: 650px;
    margin-right: 650px;
    background-color: rgba(0, 0, 0, 0.47);
    color: white;
    padding: 5px;
    display: inline-block;
}
ul {
    color: solid black;
    list-style-type: disc;
}
#lista {
    color: black;
}
#ir {
    text-decoration: none;
    color: white;
}
#titulopokemon {
    font-family: 'Press Start 2P', cursive;
    margin-left: 650px;
    margin-right: 650px;
}
#textopokemon {
    font-family: 'Press Start 2P', cursive;
}
#volver {
    text-decoration: none;
    font-family: 'Press Start 2P', cursive;
    margin-left: 650px;
    background-color: rgba(255, 0, 0, 0.904);
    color: white;
    padding: 5px;
    display: inline-block;
}
#foto {
    width: 20%;
    height: auto;
}
.dragon {
    background: linear-gradient(to right, rgb(251, 72, 72), rgb(104, 104, 255));
    padding: 5px;
}
.volador {
    background: linear-gradient(to right, rgb(148, 193, 255), rgb(175, 175, 175));
    padding: 5px;
}
.psiquico {
    background-color: rgb(245, 128, 148);
    padding: 5px;
}
.fantasma {
    background-color: rgb(86, 21, 147);
    color: white;
    padding: 5px;
}
.veneno {
    background-color: rgb(148, 0, 148);
    color: white;
    padding: 5px;
}
.fuego {
    background-color: rgb(255, 89, 0);
    color: white;
    padding: 5px;
}
#quilavapng {
    width: 10%;
    height: auto;
    float: right;
}
#typhlosionpng {
    width: 10%;
    height: auto;
    float: right;
}